@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.summary {
  margin: 20px;
  padding-top: 20px;
}
.summary .desktop-only {
  display: none;
}
.summary .summary__headline {
  padding-top: 30px;
  font-size: 3em;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-bottom: 50px;
}
.aboutMe h2 {
  padding-bottom: 20px;
}

.technicalSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 50px;
  gap: 45px;
}
.technicalSkills .technicalSkills__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 35px;
}
.projects .project__card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  border: 2px solid rgb(101, 163, 204);
}
.projects .project__card .project__image {
  margin-left: -10px;
  margin-top: -10px;
}
.projects .project__card img {
  width: 100%;
  height: auto;
}
.projects .project__card p {
  padding: 5px;
}
.projects .project__card .project__tag {
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 7px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer {
  background-color: rgb(66, 62, 62);
  color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
}
footer img {
  height: 40px;
  width: 40px;
}

.aboutMe__flexItem:nth-child(2) {
  order: 1;
}

.aboutMe__flexItem:nth-child(1) {
  order: 2;
}

.aboutMe__flexItem:nth-child(3) {
  order: 3;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: -5px;
    padding-top: 0px;
    border-bottom: 2px solid grey;
  }
  header nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header nav a {
    color: black;
    text-decoration: none;
  }
  header nav #nav__getintouch {
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .summary {
    display: flex;
  }
  .summary .desktop-only {
    display: grid;
  }
  .summary .desktop-only img {
    height: 50vw;
    width: auto;
  }
  .summary .summary__leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 355px;
    width: 50wv;
  }
  .summary .summary__leftSide h1 {
    font-size: 2em;
  }
  .aboutMe:nth-child(1) {
    order: 1;
  }
  .aboutMe:nth-child(2) {
    order: 2;
  }
  .aboutMe {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }
  .aboutMe .aboutMe__rightSideDesktop {
    flex: display;
    flex-direction: column;
    align-self: center;
  }
  .technicalSkills .technicalSkills__icons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
  }
  .technicalSkills .technicalSkills__icons img {
    height: 75%;
    width: 75%;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .projects .project__card {
    width: 20vw;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */