@use "./variables" as *;

@use "./header";

@use "./body";

@use "./summary";

@use "./nav";

@use "./aboutMe" @import
  url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.technicalSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 50px;
  gap: 45px;

  .technicalSkills__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }

  h2 {
    font-size: 2.5em;
  }
}

.projects__header {
  display: grid;
  justify-content: center;
  align-items: center;
}

.project__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 35px;

  .project__card {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    border-radius: 6px;

    .project__image {
      margin-left: -10px;
      margin-top: -10px;
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      padding: 5px;
      margin-left: 0;
    }

    .project__tag {
      padding: 7px;
      margin-bottom: 10px;
      margin-left: 20px;
      border: 2px solid black;
      border-radius: 7px;
      display: inline-block;
      text-decoration: none;
      color: black;
      font-weight: bold;
      text-align: center;
    }

    .project__button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: -17px;
      margin-bottom: 13px;
      margin-top: 5px;
    }

    .project__reactHeader {
      font-size: 2em;
    }

    .project__clientHeader {
      font-weight: bold;
      font-size: 2.5em;
      margin-top: -10px;
      margin-bottom: 15px;
    }
  }
}

footer {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 175px;
  width: 100%;

  .footer__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__images {
      height: 45px;
      width: 45px;
      background-color: white;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      img {
        height: 30px;
        width: 30px;
        background-color: white;
        display: grid;
      }
    }

    p {
      height: 45px;
      width: 45px;
      background-color: white;
      color: black;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1.1em;
    }
  }

  #footer__github {
    img {
      height: 20px;
      width: 20px;
    }
  }

  #footer__linkedin {
    img {
      padding-bottom: 4px;
    }
  }
}

// MEDIA SCREEN BREAK HERE!

@media screen and (min-width: 1024px) {
  .technicalSkills {
    .technicalSkills__icons {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 1fr;
      gap: 5px;

      img {
        height: 75%;
        width: 75%;
      }
    }
  }

  .projects {
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project__holder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .project__card {
        width: 25vw;
        height: auto;
      }

      .project__button {
        display: flex;
        flex-direction: row;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .footer__links {
      display: flex;
      justify-content: flex-end;
    }
  }
}
