@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@use "./variables";

header {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.summary {
  margin: 20px;
  padding-top: 20px;

  .desktop-only {
    display: none;
  }

  .summary__headline {
    padding-top: 30px;
    font-size: 3em;
  }

  .summary__mobileHeader {
    display: flex;
    justify-content: space-between;

    p {
      display: grid;
      align-items: center;
      margin-left: -5px;
    }

    .summary__burgerIcon {
      width: 10vw;
      height: auto;
      display: grid;
      justify-content: center;
      align-items: center;

      img {
        width: 10vw;
        height: auto;
      }
    }
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-bottom: 50px;

  h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
  }

  p {
    padding-top: 35px;
  }

  img {
    width: 70vw;
    height: auto;
  }

  .aboutMe__imageDiv1 {
    display: none;
  }

  .aboutMe__imageDiv2 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.technicalSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 50px;
  gap: 45px;

  .technicalSkills__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }

  h2 {
    font-size: 2.5em;
  }
}

.projects__header {
  display: grid;
  justify-content: center;
  align-items: center;
}

.project__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 35px;

  .project__card {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    border-radius: 6px;

    .project__image {
      margin-left: -10px;
      margin-top: -10px;
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      padding: 5px;
      margin-left: 0;
    }

    .project__tag {
      padding: 7px;
      margin-bottom: 10px;
      margin-left: 20px;
      border: 2px solid black;
      border-radius: 7px;
      display: inline-block;
      text-decoration: none;
      color: black;
      font-weight: bold;
      text-align: center;
    }

    .project__button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: -17px;
      margin-bottom: 13px;
      margin-top: 5px;
    }

    .project__reactHeader {
      font-size: 2em;
    }

    .project__clientHeader {
      font-weight: bold;
      font-size: 2.5em;
      margin-top: -10px;
      margin-bottom: 15px;
    }
  }
}

footer {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 175px;
  width: 100%;

  .footer__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__images {
      height: 45px;
      width: 45px;
      background-color: white;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      img {
        height: 30px;
        width: 30px;
        background-color: white;
        display: grid;
      }
    }

    p {
      height: 45px;
      width: 45px;
      background-color: white;
      color: black;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1.1em;
    }
  }

  #footer__github {
    img {
      height: 20px;
      width: 20px;
    }
  }

  #footer__linkedin {
    img {
      padding-bottom: 4px;
    }
  }
}

// MEDIA SCREEN BREAK HERE!

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: -5px;
    padding-top: 0px;
    border-bottom: 2px solid grey;

    nav {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: black;
        text-decoration: none;
      }

      #nav__getintouch {
        border: 2px solid black;
        border-radius: 5px;
        font-weight: bold;
        height: 40px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .summary {
    display: flex;
    height: 684px;

    .summary__mobileHeader {
      img {
        display: none;
      }
    }

    .desktop-only {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 604px;
        width: auto;
      }
    }

    .summary__leftSide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 50wv;

      h1 {
        font-size: 2em;
      }
    }
  }

  .aboutMe {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .aboutMe__imageDiv2 {
      display: none;
    }

    .aboutMe__imageDiv1 {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .aboutMe__rightSideDesktop {
      flex: display;
      flex-direction: column;
      align-self: center;
    }

    .aboutMe:nth-child(1) {
      order: 1;
    }

    .aboutMe:nth-child(2) {
      order: 2;
    }

    img {
      width: 30vw;
      height: auto;
    }
  }

  .technicalSkills {
    .technicalSkills__icons {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 1fr;
      gap: 5px;

      img {
        height: 75%;
        width: 75%;
      }
    }
  }

  .projects {
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project__holder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .project__card {
        width: 25vw;
        height: auto;
      }

      .project__button {
        display: flex;
        flex-direction: row;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: red;

    .footer__links {
      display: flex;
      justify-content: flex-end;
    }
  }
}
