@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 7px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  display: none;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: -5px;
    padding-top: 0px;
    border-bottom: 2px solid grey;
  }
}
body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.summary {
  margin: 20px;
  padding-top: 20px;
}
.summary .desktop-only {
  display: none;
}
.summary .summary__headline {
  padding-top: 30px;
  font-size: 3em;
}
.summary .summary__mobileHeader {
  display: flex;
  justify-content: space-between;
}
.summary .summary__mobileHeader p {
  display: grid;
  align-items: center;
  margin-left: -5px;
}
.summary .summary__mobileHeader .summary__burgerIcon {
  width: 10vw;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}
.summary .summary__mobileHeader .summary__burgerIcon img {
  width: 10vw;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .summary {
    display: flex;
    height: 684px;
    justify-content: space-evenly;
  }
  .summary .summary__mobileHeader img {
    display: none;
  }
  .summary .desktop-only {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .summary .desktop-only img {
    height: 604px;
    width: auto;
  }
  .summary .summary__leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50wv;
  }
  .summary .summary__leftSide h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  nav a {
    color: black;
    text-decoration: none;
  }
  nav #nav__getintouch {
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-bottom: 50px;
}
.aboutMe h2 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 2em;
}
.aboutMe p {
  padding-top: 35px;
}
.aboutMe img {
  width: 70vw;
  height: auto;
}
.aboutMe .aboutMe__imageDiv1 {
  display: none;
}
.aboutMe .aboutMe__imageDiv2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .aboutMe {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .aboutMe .aboutMe__imageDiv2 {
    display: none;
  }
  .aboutMe .aboutMe__imageDiv1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .aboutMe .aboutMe__rightSideDesktop {
    flex: display;
    flex-direction: column;
    align-self: center;
  }
  .aboutMe .aboutMe__rightSideDesktop h2 {
    align-self: flex-start;
  }
  .aboutMe .aboutMe:nth-child(1) {
    order: 1;
  }
  .aboutMe .aboutMe:nth-child(2) {
    order: 2;
  }
  .aboutMe img {
    width: 30vw;
    height: auto;
  }
}
.technicalSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 50px;
  gap: 45px;
}
.technicalSkills .technicalSkills__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}
.technicalSkills h2 {
  font-size: 2.5em;
}

@media screen and (min-width: 1024px) {
  .technicalSkills .technicalSkills__icons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
  }
  .technicalSkills .technicalSkills__icons img {
    height: 75%;
    width: 75%;
  }
}
.projects__header {
  display: grid;
  justify-content: center;
  align-items: center;
}

.project__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 35px;
}
.project__holder .project__card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  border-radius: 6px;
}
.project__holder .project__card .project__image {
  margin-left: -10px;
  margin-top: -10px;
}
.project__holder .project__card img {
  width: 100%;
  height: auto;
}
.project__holder .project__card p {
  padding: 5px;
  margin-left: 0;
}
.project__holder .project__card .project__tag {
  padding: 7px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 7px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
}
.project__holder .project__card .project__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: -17px;
  margin-bottom: 13px;
  margin-top: 5px;
}
.project__holder .project__card .project__reactHeader {
  font-size: 2em;
}
.project__holder .project__card .project__clientHeader {
  font-weight: bold;
  font-size: 2.5em;
  margin-top: -10px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  .projects h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .project__holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .projects .project__holder .project__card {
    width: 25vw;
    height: auto;
  }
  .projects .project__holder .project__button {
    display: flex;
    flex-direction: row;
  }
}
footer {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 175px;
  width: 100%;
}
footer .footer__links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__links .footer__images {
  height: 45px;
  width: 45px;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
footer .footer__links .footer__images img {
  height: 30px;
  width: 30px;
  background-color: white;
  display: grid;
}
footer .footer__links p {
  height: 45px;
  width: 45px;
  background-color: white;
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1em;
}
footer #footer__github img {
  height: 20px;
  width: 20px;
}
footer #footer__linkedin img {
  padding-bottom: 4px;
}

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  footer .footer__links {
    display: flex;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=style.css.map */