.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-bottom: 50px;

  h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
  }

  p {
    padding-top: 35px;
    line-height: 1.75;
  }

  img {
    width: 70vw;
    width: 100%;
    height: 100%;
  }

  .aboutMe__imageDiv1 {
    display: none;
  }

  .aboutMe__imageDiv2 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .aboutMe {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .aboutMe__imageDiv2 {
      display: none;
    }

    .aboutMe__imageDiv1 {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .aboutMe__rightSideDesktop {
      flex: display;
      flex-direction: column;
      align-self: center;
      h2 {
        display: flex;
        justify-content: flex-start;
      }
    }

    .aboutMe:nth-child(1) {
      order: 1;
    }

    .aboutMe:nth-child(2) {
      order: 2;
    }

    img {
      width: 30vw;
      height: auto;
    }
  }
}
