.technicalSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 50px;
  gap: 45px;

  .technicalSkills__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }

  h2 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .technicalSkills {
    .technicalSkills__icons {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 1fr;
      gap: 5px;

      img {
        height: 75%;
        width: 75%;
      }
    }
  }
}
